@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body,
html,
:root {
  height: 100%;
  font-family: "Inter", sans-serif;
  /* font-family: 'PT Sans', sans-serif; */
}


/* Width of the scroll track */
::-webkit-scrollbar {
  width: 8px;
}

/* Handle on hover */
::-webkit-scrollbar:hover {
  background: #f0efef;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #004AAD;
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #004AAD;
}

.delete_user {
  animation: deleteUser 1s ease-out infinite;
}

@keyframes deleteUser {
  0% {
    background-color: #f7eeee;
  }
  50% {
    background-color: #f7cdcd;
  }
  100% {
    background-color: #f7ebeb;
  }
}
